<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ČÚZK - @ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @Html.ActionLink("Prototyp autorizace digitálního úkonu", "Index", "Home", null, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @Html.ActionLink("Provedení autorizace", "Index", "Nia", null, new { @class = "nav-link text-dark" })
                        </li>
                    </ul>
                    
                    @if (Request.IsAuthenticated)
                    {
                        <span class="navbar-text">BSI: @User.Identity.Name </span>

                        using (Html.BeginForm("Logout", "Nia", FormMethod.Post, new { id = "logoutForm", @class = "form-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <a class="nav-link text-dark" href="javascript:document.getElementById('logoutForm').submit()">&nbsp;&nbsp;Odhlásit</a>
                        }
                    }
                    else
                    {
                        <ul class="navbar-nav">
                            <li>
                                @Html.ActionLink("Přihlásit", "Login", "Nia", null, new { id = "loginLink", @class = "nav-link text-dark" })
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            <p>Copyright &copy; @DateTime.Now.Year - Český úřad zeměměřický a katastrální</p>
        </div>
    </footer>
</body>
</html>